.jumbotron {
  padding: 3.5rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.jumbotron__actionbtns {
  display: grid;
  place-items: center;
}

.jumbotron__center__title {
  top: 70px;
  position: absolute;
}

.actionbtn {
  min-width: 200px;
  font-size: var(--font-size-normal);
}
.typed__text {
  color: var(--palette-pink);
}

.jumbotron__description {
  margin: 0;
  padding-right: 2rem;
  color: var(--palette-pink);
  font-size: var(--font-size-large);
}

.jumbotron__image {
  margin: 3rem auto 0 auto;
  max-width: 1200px;
}
.jumbotron__image > img {
  border-radius: var(--ifm-global-img-border-radius);
  width: 100vw;
  height: auto;
  object-fit: cover;
}

@media (max-width: 996px) {
  .jumbotron {
    padding-top: 2rem;
    align-items: center;
    flex-basis: auto;
  }
  .jumbotron__description {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 776px) {
  .jumbotron {
    padding: 3rem 2rem 2rem 2rem;
  }
  .jumbotron__image {
    padding: 0;
  }
  /* .jumbotron__image > img {
    height: 360px;
  } */
  .jumbotron__actionbtns {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}
